# ===== PostgreSQL =====
POSTGRES_USER=nacoooobit
POSTGRES_PASSWORD=CHANGE_ME_PG
POSTGRES_DB=lubix

# ===== Backend =====
URL_DATABASE=postgresql+psycopg2://nacoooobit:CHANGE_ME_PG@postgres:5432/lubix
SECRET_KEY=CHANGE_ME_LLAVE_JWT
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_DAYS=7
URL_FRONTEND=http://localhost:5173

# ===== MinIO =====
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=CHANGE_ME_MINIO

# ===== Email (SMTP Gmail - usar App Password) =====
GMAIL_USERNAME=tucorreo@gmail.com
GMAIL_APP_PASSWORD=CHANGE_ME_APP_PASSWORD

# ===== Admin por defecto / Seed =====
ADMIN_DEFAULT=admin@lubix.com
PASSWORD_DEFAULT=Admin123!
RUN_SEED=true